In [156]:
# import streamlit as st
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
# excel preporcessor/work book
from openpyxl import load_workbook
import warnings
warnings.filterwarnings("ignore")

In [172]:
def column_check(x):
    if 'unnamed' in x.lower():
        return False
    if 'priority' in x.lower():
        return False
    if 'order' in x.lower():
        return True
    return True
datafile='data\Performance_Dashboard.xlsx'
data = pd.read_excel(datafile,
                     header=1, usecols=column_check)
data=data.dropna()
# data=data.set_index('Region')
# data=data.dropna(axis=1)
data.columns

Index(['Region', 'County', 'Season to Date Actual', 'MonthTarget',
       'MTD Target', 'MTD Actual', 'MTD Performance', 'MonthTarget.1',
       'MTD Target.1', 'MTD Actual.1', 'MTD Performance.1', 'MonthTarget.2',
       'MTD Target.2', 'MTD Actual.2', 'MTD Performance.2', 'Total Farmers',
       'MTD Farmers', 'MTD Actual.3', 'MTD Performance.3'],
      dtype='object')

In [292]:
CashInput=data.groupby('Region')['Region','Season to Date Actual','MTD Target','MTD Actual'].sum().reset_index()
Credit=data.groupby('Region')['MonthTarget','MTD Target','MTD Actual'].sum().reset_index()
GeneralTotals=data.groupby('Region')['Total Farmers','MTD Farmers','MTD Actual'].sum().reset_index()
GeneralTotals.columns

Index(['Region', 'Total Farmers', 'MTD Farmers', 'MTD Actual'], dtype='object')

In [285]:
# CashInput[['Coast', 'Dairy']]
# sns.catplot(x='Dairy', y='Coast', col='Coast', data=GeneralTotals.T, kind='bar')

In [289]:
# CashInput.apply(list).reset_index()
# # CashInput = CashInput.T
# # st.text("Hello GeeksForGeeks!!!")
# # for x in CashInput:
# #     datareg = CashInput[x]
# #     print(datareg[1])
# # #     st.write(datareg)
# CashInput.columns
GeneralTotals[GeneralTotals['Region']=='Coast']

   index Region  Total Farmers  MTD Farmers  MTD Actual
0      0  Coast       131111.0     223611.0    149834.0

In [106]:
# filename=data
wb = load_workbook(filename = datafile)
wb.sheetnames

['November Performance Tracker',
 'Sheet4',
 'October Performance ',
 'October Performance  (2)',
 'November Targets summary']

In [130]:
# Data preprocessig function/ data cleaning function
def clean_data(data):   
    data=data.set_index('Region').T
    data=data.dropna(axis=1)
    return data

In [183]:
# data
for x in  GeneralTotals:
    print(x.values())

AttributeError: 'str' object has no attribute 'values'